.help
  .row
    =link_to image_tag("/assets/onion.png"), search_path(name: "cebula")
    =link_to image_tag("/assets/beet.png"), search_path(name: "burak")
    =link_to image_tag("/assets/carrot.png"), search_path(name: "marchew")
  .row
    =link_to image_tag("/assets/potato.png"), search_path(name: "pomidor")
    =link_to image_tag("/assets/lettuce.png"), search_path(name: "sałata")
    =link_to image_tag("/assets/tomato.png"), search_path(name: "pomidor")