.help
  .row
    =link_to image_tag("onion.png"), search_path(name: "cebula")
    -if current_user && current_user.incognito
      =link_to image_tag("cycki.png"), search_path(name: "melon")
    -else
      =link_to image_tag("beet.png"), search_path(name: "burak")
    =link_to image_tag("carrot.png"), search_path(name: "marchew")
  .row
    =link_to image_tag("potato.png"), search_path(name: "ziemniak")
    =link_to image_tag("lettuce.png"), search_path(name: "sałata")
    =link_to image_tag("tomato.png"), search_path(name: "pomidor")