- if @searches
  -@searches.group_by(&:date).each do |date, searches|
    =date
    -searches.each do |search|
      .term
        =search.search_term
      -if search.search_results.any?
        %table.table
          %tr
            %th
              Nazwa
            %th
              Ilość
            %th
              Cena min.
            %th
              Cena max.
          - search.search_results.each do |result|
            -vegetable = Vegetable.find(result.vegetable_id)
            %tr
              %td
                =vegetable.name
              %td
                =vegetable.unit
              %td
                =vegetable.price_min
              %td
                =vegetable.price_max
