- if @vegetables
  .term
    = @vegetables.last.date
  %table.table
    %tr
      %th
        Nazwa
      %th
        Ilość
      %th
        Cena min.
      %th
        Cena max.
    - @vegetables.each do |vegetable|
      %tr
        %td
          =vegetable.name
        %td
          =vegetable.unit
        %td
          =vegetable.price_min
        %td
          =vegetable.price_max
