- if @vegetables
  .term
    = @vegetables.last.date
  %table.table
    %tr
      %th
        Nazwa
      %th
        Ilość
      %th
        Cena min. (zł)
      %th
        Cena max. (zł)
    - @vegetables.each do |vegetable|
      %tr
        %td
          =vegetable.name
        %td
          =vegetable.unit
        %td
          -if vegetable.price_min != "brak"
            ="%.2f" % vegetable.price_min
          -else
            =vegetable.price_min
        %td
          -if vegetable.price_max != "brak"
            ="%.2f" % vegetable.price_max
          -else
            =vegetable.price_max
