%center
  .search
    .logo
      -if !@index
        -if @vegetables.any?
          %img{:src => "/assets/logo.png"}
        -else
          %img{:src => "/assets/not-found.png"}
      -else
        %img{:src => "/assets/logo.png"}

    %form.input-append{:action => search_path, :method => "get"}
      -value = params[:name] if params[:name]
      %input{:name => "name", :placeholder => "Czego szukasz? Buraqa, Cebulaqa, Ziemniaqa?", :value => value}

  -if @index
    =render partial: "help"
  -else
    -if @vegetables.any?
      .vegetables
        =render partial: "vegetables_list"
    -else
      =render partial: "help"
