.search {
  .logo { 
    img {
      width: 450px;
    }
  }

  form {
    margin-top: 10px;

    input {
      height: 19px;
      width: 500px;
    }

    button {
      img {
        width: 20px;
      }

      margin-left: -40px;
      background: none;
      border: none;
    }
  }
}

.help {
  margin-left: 30px;

  .row {
    img {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      border: 1px solid black;
    }
  }
}

.vegetables {
  table {
    th {
      text-align: center;
      background-color: rgba(179,134,196,.7);
    }

    td {
      text-align: center;
    }

    width: 600px;
  }
}

.history {
  margin-top: 10px;

  table {
    th {
      text-align: center;
      background-color: rgba(179,134,196,.7);
    }

    td {
      text-align: center;
    }

    width: 600px;
  }
}

.coelho {
  #quote {
    cursor: pointer;
    font-family: Helvetica;
    font-size: 18px;
    font-style: italic;
  }

  .signature {
    margin-left: 400px;
    font-weight: bold;
  }
}

.paulo {
  position: relative;
  bottom: -500px;
  display: none;
}

.term {
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  left: -250px;
}

.ui-autocomplete {
  max-width: 505px;
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;

  box-sizing: border-box;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;

  ul {
    list-style-position: outside;
    list-style: none;
  }

  li {
    margin: 0px;
    padding: 5px 10px;
    display: block;
    font: menu;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;

    a {
      padding: 4px 6px;
      cursor: pointer;
    }

    a.ui-state-hover, a:hover {
      text-decoration: none;
      padding: 4px 5px;
    }
  }
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
  min-height:100%;
  position:relative;
}

.actual-content {
  position: relative;
  top: 130px;
}

#footer {
  position:absolute;
  bottom:0px;
  width:50%;
  margin-left: 20%;
  margin-bottom: 10px;
  z-index: -1;

  .copy {
    margin-left: 20%;
  }
}

.header-top {
  position: fixed;
  top: 0px;
  width: 100%;

  ul {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    list-style-position: outside;
    list-style: none;
    display: inline;

    li {
      margin-right: 10px;
      float: left;

      &.facebook {
        a {
          color: #0077a5;
        }
      }

      a {
        color: #a7456f;

        &.donate {
          font-weight: bold;
        }
      }

      .avatar {
        img {
          width: 50px;
          height: auto;
        }
      }
    }
  }
}