.search {
  position: relative;
  top: 135px;

  .logo { 
    img {
      width: 450px;
    }
  }

  form {
    margin-top: 10px;

    input {
      height: 19px;
      width: 500px;
    }

    button {
      img {
        width: 20px;
      }

      margin-left: -40px;
      background: none;
      border: none;
    }
  }
}

.help {
  position: relative;
  top: 160px;
  margin-left: 30px;

  .row {
    img {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      border: 1px solid black;
    }
  }
}

.vegetables {
  position: relative;
  top: 150px;

  table {
    th {
      text-align: center;
      background-color: rgba(179,134,196,.7);
    }

    td {
      text-align: center;
    }

    width: 600px;
  }
}

.history {
  position: relative;
  top: 200px;

  table {
    th {
      text-align: center;
      background-color: rgba(179,134,196,.7);
    }

    td {
      text-align: center;
    }

    width: 600px;
  }
}

.coelho {
  cursor: pointer;

  #quote {
    position: relative;
    top: 170px;
    font-family: Helvetica;
    font-size: 18px;
    font-style: italic;
  }

  .signature {
    position: relative;
    top: 180px;
    margin-left: 400px;
    font-weight: bold;
  }
}

.paulo {
  position: relative;
  bottom: -500px;
  display: none;
}

#sign-in {
  color: #FFFFFF;
  background: #48649f;
  padding: 10px;
  position: fixed;
  top: 0px;
  right: 150px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  a {
    color: #FFFFFF;
    text-decoration: none;

    .fa {
      font-size: 110%;
      margin-right: 5px;
    }
  }
}

#user-settings {
  color: #FFFFFF;
  background: #48649f;
  padding: 10px;
  position: fixed;
  top: 0px;
  right: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.term {
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  left: -250px;
}

.avatar {
  img {
    width: 50px;
    height: 50px;
  }
}

.ui-autocomplete {
  max-width: 505px;
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;

  box-sizing: border-box;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;

  ul {
    list-style-position: outside;
    list-style: none;
  }

  li {
    margin: 0px;
    padding: 5px 10px;
    display: block;
    font: menu;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;

    a {
      padding: 4px 6px;
      cursor: pointer;
    }

    a.ui-state-hover, a:hover {
      text-decoration: none;
      padding: 4px 5px;
    }
  }
}

.footer {
  position: absolute;
  bottom: 50px;
  margin-left: 26%;
  width: 50%;
  border-top: 1px solid #eee;
  z-index: -1;

  .copy {
    margin-top: 5px;
  }
}